In [5]:
import pandas as pd
import os

In [2]:
from landsatxplore.api import API

# Retrieve USGS credentials from environment variables
username = os.environ.get("LANDSAT_USERNAME")
password = os.environ.get("LANDSAT_PASSWORD")

# Initialize a new API instance
api = API(username, password)

# Perform a request
response = api.request(endpoint="dataset-catalogs")
print(response)

{'EE': 'EarthExplorer', 'GV': 'GloVis', 'HDDS': 'HDDS Explorer'}

In [3]:
# Search for Landsat TM scenes
scenes = api.search(
    dataset='landsat_ot_c2_l2',
    latitude=53.36305556,
    longitude=-6.15583333,
    start_date='2020-01-01',
    end_date='2022-12-31',
    max_cloud_cover=50
)

# log out
api.logout()

In [9]:
# Create a DataFrame from the scenes
df_scenes = pd.DataFrame(scenes)
for col in df_scenes.columns:
    print(col)

cloud_cover
entity_id
display_id
ordering_id
landsat_product_id
landsat_scene_id
acquisition_date
collection_category
collection_number
wrs_path
wrs_row
target_wrs_path
target_wrs_row
nadir-off_nadir
roll_angle
date_product_generated
start_time
stop_time
station_id
day-night_indicator
land_cloud_cover
scene_cloud_cover
ground_control_points_model
ground_control_points_version
geometric_rmse_model
geometric_rmse_model_x
geometric_rmse_model_y
processing_software_version
sun_elevation_l0ra
sun_azimuth_l0ra
tirs_ssm_model
data_type
sensor_id
satellite
product_map_projection
utm_zone
datum
ellipsoid
scene_center_latitude
scene_center_longitude
corner_upper_left_latitude
corner_upper_left_longitude
corner_upper_right_latitude
corner_upper_right_longitude
corner_lower_left_latitude
corner_lower_left_longitude
corner_lower_right_latitude
corner_lower_right_longitude
has_customized_metadata
options
selected
spatial_bounds
spatial_coverage
temporal_coverage
publish_date

In [10]:
df_scenes = df_scenes[['display_id','wrs_path', 'wrs_row','satellite','cloud_cover','acquisition_date']]
df_scenes.sort_values('acquisition_date', ascending=False, inplace=True)
display(df_scenes.head())

,display_id,wrs_path,wrs_row,satellite,cloud_cover,acquisition_date
0,LC08_L2SP_206023_20221118_20221128_02_T1,206,23,8,5,2022-11-18
1,LC09_L2SP_205023_20221103_20230323_02_T1,205,23,9,34,2022-11-03
2,LC08_L2SP_205023_20221026_20221107_02_T1,205,23,8,24,2022-10-26
3,LC09_L2SP_205023_20221018_20230325_02_T1,205,23,9,15,2022-10-18
4,LC08_L2SP_206023_20221017_20221031_02_T1,206,23,8,27,2022-10-17

In [11]:
from landsatxplore.earthexplorer import EarthExplorer
import os

# Initialize the API
ee = EarthExplorer(username, password)

# Select the first scene
ID = 'LC08_L2SP_206023_20221118_20221128_02_T1'

# Download the scene 
try: 
    ee.download(ID, output_dir='./landsatxplore_data')
    print('{} succesful'.format(ID))
    
# Additional error handling
except:
    if os.path.isfile('./landsatxplore_data/{}.tar'.format(ID)):
        print('{} error but file exists'.format(ID))
    else:
        print('{} error'.format(ID))

ee.logout()

Download failed with dataset id 1 of 3. Re-trying with the next one.

825MB [00:31, 27.1MB/s]

None of the archived ids succeeded! Update necessary!
LC08_L2SP_206023_20221118_20221128_02_T1 error but file exists

In [12]:
import tarfile

# Extract files from tar archive
tar = tarfile.open('./landsatxplore_data/{}.tar'.format(ID))
tar.extractall('./data/{}'.format(ID))
tar.close()

## Searching for scenes in one region

In [7]:
# Search for Landsat TM scenes
scenes_45_26 = api.search(
    dataset='landsat_ot_c2_l1',
    bbox = (-123.288, 42.551, -110.393, 49.458),
    start_date='2014-01-01',
    end_date='2023-10-02',
    max_cloud_cover=50
)

print(f"{len(scenes_45_26)} scenes found.")

# Create a DataFrame from the scenes
df_scenes = pd.DataFrame(scenes_45_26)
df_scenes.to_csv('landsatxplore_data/scenes_45_26.csv', index=False)
df_scenes = df_scenes[['display_id','wrs_path', 'wrs_row','satellite','cloud_cover','acquisition_date']]
df_scenes.sort_values('acquisition_date', ascending=False, inplace=True)
display(df_scenes.head())

# log out
api.logout()

100 scenes found.

,display_id,wrs_path,wrs_row,satellite,cloud_cover,acquisition_date
0,LC08_L1TP_039025_20231002_20231002_02_RT,39,25,8,34,2023-10-02
2,LC08_L1TP_039027_20231002_20231002_02_RT,39,27,8,11,2023-10-02
1,LC08_L1TP_039026_20231002_20231002_02_RT,39,26,8,14,2023-10-02
3,LC08_L1TP_048026_20231001_20231001_02_RT,48,26,8,16,2023-10-01
4,LC09_L1TP_042025_20230929_20230930_02_T1,42,25,9,50,2023-09-29